body{
    background-color: #061f30;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

th, td {
    border: 1px solid white;
    padding: 8px;
    background-color: #aacae1;
}

th{
    background-color: #083757;
}

th a{
    color: white;
}

p{
    color: white;
}

.subtitulo{
    background-color: #296d98;;
    color: white;
    text-align: left ;
    padding-left: 12px;
}

.link-download{
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.link-download a{
    padding: 20px 30px 20px 30px;
    text-decoration: none;  
    background: #296d98;
    border-radius: 10px ;
    color: white;
}

.link-download a:hover{
    background-color: #aacae1;
    color: #083757;
}
